Description=Bot Service
Requires=python.service
After=python.service

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/root/MyClassScheduleBot
ExecStart=/usr/bin/python3 /root/MyClassScheduleBot/main.py
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target